<div id="chart"></div>

<script type="text/javascript">
logError = function(error) {
  console.log(error);
};

var exampleData = [
  ["2016-02-28T00:00:00-05:00", 14309, 4397],
  ["2016-02-29T00:00:00-05:00", 13676, 3234],
  ["2016-03-01T00:00:00-05:00", 14782, 4679],
  ["2016-03-02T00:00:00-05:00", 15977, 5272],
  ["2016-03-03T00:00:00-05:00", 14500, 4294],
  ["2016-03-04T00:00:00-05:00", 13963, 4316],
  ["2016-03-05T00:00:00-05:00", 14392, 4304],
  ["2016-03-06T00:00:00-05:00", 15276, 5220],
  ["2016-03-07T00:00:00-05:00", 16330, 5310],
  ["2016-03-08T00:00:00-05:00", 17530, 5863],
  ["2016-03-09T00:00:00-05:00", 18276, 5982],
  ["2016-03-10T00:00:00-05:00", 18638, 6224],
  ["2016-03-11T00:00:00-05:00", 17351, 5418],
  ["2016-03-12T00:00:00-05:00", 19897, 6632],
  ["2016-03-13T00:00:00-05:00", 19141, 6656],
];
</script>

<script type="text/javascript">
var shopifyQL = 'SHOW \
  sum(IF location_country == "United States" THEN pageview_count) AS us_traffic, \
  sum(IF location_country == "Canada" THEN pageview_count) AS ca_traffic \
  OVER day(timestamp) AS day \
  FROM visits \
  SINCE -2w UNTIL today \
  ORDER BY day';

drawGraph = function(response) {
  c3.generate({
    data: {
      x: 'day', columns: Transformer.toC3Format(response.result)
    },
    axis: {
      x: { type: 'timeseries', tick: { format: "%Y-%m-%d" } }
    }
  });
};

ShopifyApp.Analytics.fetch({
  query: shopifyQL,
  success: drawGraph,
  error: logError
});
</script>
